[submodule "concordium-contracts-common"]
	path = concordium-contracts-common
	url = ../concordium-contracts-common.git
[submodule "concordium-grpc-api"]
	path = concordium-grpc-api
	url = ../concordium-grpc-api.git
