.stack-work/
.idea
Concordium.cabal
*~
*.swp
*.out
*.dll
*.exe
*.a
*.pdf
*.csv
*.svg
*.html

# CMake build folder
build/
*.swo
*.hi
*.o
*.lock
dist/

**/target/
*.json
/.dir-locals.el
*.bin
/rust-bins/wallet-notes/example
pkg
/idiss/node
*.hie
*.iml
lib/
/idiss/libidiss.node

/smart-contracts/rust-contracts/concordium-std/Cargo.lock
/smart-contracts/wasm-transform/Cargo.lock
