.stack-work/
Concordium.cabal
*~
*.swp
*.out
*.dll
*.exe
*.a
*.pdf
*.csv
*.svg
*.html

# CMake build folder
build/
*.swo
*.hi
*.o
*.lock
dist/

rust-src/target/
*.json
/.dir-locals.el
*.bin
rust-bins/target
/rust-bins/wallet-notes/example
mobile_wallet/target/
pkg
