[package]
name = "concordium_base"
version = "0.1.0"
authors = ["Concordium AG <developers@concordium.com>"]
edition = "2021"
license-file = "../../LICENSE"

[dependencies]
ff = "0.5"
sha2 = "0.10"
anyhow = "1.0"
rand_core = "=0.5"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
libc = "0.2"
chrono = "0.4.19"
ed25519-dalek = "=1.0"
byteorder = "1.3"
hex = "0.4"
itertools = "0.10"
either = "1.6"
pairing = "0.15"
derive_more = "0.99"
thiserror = "1.0"
rand = "0.7"
num = "0.4"
# See https://github.com/serde-rs/json/issues/505 for the need to be careful.
rust_decimal = { version = "1.25", features = ["serde-float", "serde-arbitrary-precision"]}
num-bigint = "0.4"
num-traits = "0.2"

# Local dependencies
random_oracle = { version = "*", path = "../random_oracle/" }
id = { version = "*", path = "../id", default-features=false }
eddsa_ed25519 = { version = "*", path = "../eddsa_ed25519", default-features = false }
crypto_common = { version = "*", path = "../crypto_common", features = ["encryption"] }
concordium-contracts-common = { version = "*", path = "../../concordium-contracts-common/concordium-contracts-common", features = ["derive-serde", "sdk"] }
encrypted_transfers = { version = "*", path = "../encrypted_transfers", default-features = false }
aggregate_sig = {version = "0", path = "../aggregate_sig", default-features = false }
ecvrf = { version = "*", path = "../ecvrf", default-features = false }

[dev-dependencies]
rand = {version = "0.7", features = ["small_rng"]}

[lib]
name = "concordium_base"
crate-type = ["rlib"]