[package]
name = "wasm-chain-integration"
version = "0.1.0"
authors = ["Concordium <info@concordium.com>"]
edition = "2018"

[features]
# If this feature is enabled  the ffi exports are going to be produced
# for use from Haskell.
enable-ffi = []
default=["enable-ffi"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
libc = "0.2"
anyhow = "1.0.33"
serde = "1.0"

[dependencies.wasm-transform]
path = "../wasm-transform"
version = "0"

[dependencies.concordium-contracts-common]
version = "0.3.2"
# git = "https://github.com/Concordium/concordium-contracts-common.git"
# branch = "main"
path = "../concordium-contracts-common/"
features = ["derive-serde"]

[lib]
crate-type = ["cdylib", "staticlib", "rlib"]

[dev-dependencies]
criterion = { version = ">=0.3.4", features = ["html_reports"] }

[[bench]]
name = "wasm"
harness = false
