.stack-work/
*~
*.swp
*.out
*.dll
*.exe
*.a
*.pdf
*.csv

.stack-work
target
*.json
/.dir-locals.el
*.bin
pkg
*.hie
*.iml
*.state-*
*.state
**/.idea

/rust-contracts/concordium-std/Cargo.lock
/concordium-contracts-common/Cargo.lock
/wasm-transform/Cargo.lock
docs/build
docs/src/_build
/lib/
