.stack-work/
*~
*.swp
*.out
*.dll
*.exe
*.a
*.pdf
*.csv
*.svg
*.html

.stack-work
target
*.json
/.dir-locals.el
*.bin
pkg
*.hie
*.iml
*.state-*
*.state

/rust-contracts/concordium-sc-base/Cargo.lock
/contracts-common/Cargo.lock
/wasm-transform/Cargo.lock
docs/build
