[package]
name = "wasm-transform"
version = "0.1.1"
authors = ["Concordium <developers@concordium.com>"]
edition = "2018"
license-file = "../LICENSE"

[features]
fuzz-coverage = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
leb128 = "0.2.4"
anyhow = "1.0.33"
num_enum = "0.5"
derive_more = "0.99"


[dependencies.concordium-contracts-common]
version = "5"
path = "../../concordium-contracts-common/concordium-contracts-common"
features = ["derive-serde"]

[lib]
crate-type = ["rlib"]
