on:
  push:
    tags:
      - identity-provider-service/*

jobs:
  release-identity-provider-service:
    uses: concordium/.github/.github/workflows/docker-release-workflow.yaml@v1
    with:
      SERVICE_NAME: "identity-provider-service"
      BUILD_ARGS: |
        base_image_tag=rust-1.82_ghc-9.6.6-1
      DOCKER_FILE_PATH: scripts/identity-provider-service.Dockerfile
      CARGO_FILE_PATH: identity-provider-service/Cargo.toml
    secrets: inherit
